@using Microsoft.AspNetCore.Identity
@inject SignInManager<StudentReviewManager.DAL.Models.User> SignInManager
@inject UserManager<StudentReviewManager.DAL.Models.User> UserManager
@model IEnumerable<StudentReviewManager.PL.VM.Course.CourseVM>
@{
    ViewData["Title"] = "Courses";
}
<h1>Courses</h1>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-primary" href="/Course/Create">Create New</a>
    </p>
    }
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Specialty</th>
            <th>Degree</th>
            <th>School</th>
            <th>Average Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.SpecialtyName)</td>
                <td>@Html.DisplayFor(modelItem => item.DegreeName)</td>
                <td>@Html.DisplayFor(modelItem => item.SchoolName)</td>
                <td>@Html.DisplayFor(modelItem => item.AverageRating)</td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-secondary" href="/Course/Edit/@item.Id">Edit</a>
                        <a class="btn btn-danger" href="/Course/Delete/@item.Id">Delete</a>
                    }
                    <a class="btn btn-info" href="/Course/Details/@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
